@import "../../styles/base";

.appbar {
  height: 80px;
  margin: 2rem;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg.MuiSvgIcon-root {
      font-size: 2rem;
      color: $lightBlack;
    }
  }
  &__content-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    :link,
    :visited {
      color: $lightBlack;
    }
    text-decoration: none;
  }
  &__content-cart {
    border: none;
    background: none;
    display: flex;
    align-items: center;
  }
  &__content-cart-count {
    min-width: 27px;
    min-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: $primary;
    color: $lightBlue;
    border-radius: 50%;
  }
}
